# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/
.vscode/
*.swp
*.swo

# Application specific
icon.ico
icon.svg
uploads/

# Environment variables
.env
*.env

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
